force-app/main/default/flows/Case_STO_Sladd.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Set_Thread_Sensitive_Info</name>
        <label>Set Thread Sensitive Info</label>
        <locationX>446</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Get_Thread.STO_Sensitive_Information__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Thread.Cause__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cause</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_thread</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Ikke_statlig_dialog</name>
        <choiceText>Ikke statlig dialog</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ikke statlig dialog</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sendt_feil_bruker</name>
        <choiceText>Sendt feil bruker</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sendt feil bruker</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sensitive_personopplysninger</name>
        <choiceText>Sensitive personopplysninger</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sensitive personopplysninger</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_If_STO_Case_Is_Updated</name>
        <label>Check If STO-Case Is Updated</label>
        <locationX>446</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Error_Toast</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isUpdated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Thread.STO_Sensitive_Information__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Thread.Cause__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Cause</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Success_Toast</targetReference>
            </connector>
            <label>isUpdated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Thread_Is_Set_To_Redaction</name>
        <label>Check If Thread Is Set To Redaction</label>
        <locationX>248</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Case_STO_Sladd</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsRedacted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Thread.STO_Sensitive_Information__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Message_Screen</targetReference>
            </connector>
            <label>IsRedacted</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Case STO Sladd {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case STO Sladd</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>248</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Thread</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Thread</name>
        <label>Get Thread</label>
        <locationX>248</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Thread_Is_Set_To_Redaction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_API_Reference__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.NKS_Henvendelse_BehandlingsId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Thread__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_thread</name>
        <label>Update thread</label>
        <locationX>446</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Check_If_STO_Case_Is_Updated</targetReference>
        </connector>
        <inputReference>Get_Thread</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Case_STO_Sladd</name>
        <label>Case STO Sladd</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Thread_Sensitive_Info</targetReference>
        </connector>
        <fields>
            <name>Cause</name>
            <choiceReferences>Ikke_statlig_dialog</choiceReferences>
            <choiceReferences>Sendt_feil_bruker</choiceReferences>
            <choiceReferences>Sensitive_personopplysninger</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Sendt_feil_bruker</defaultSelectedChoiceReference>
            <fieldText>Årsak</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Ferdig</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Toast</name>
        <label>Error Toast</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_toast_finisher</name>
            <extensionName>c:fcFlowCloseWithToast</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>closeModal</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>mode</name>
                <value>
                    <stringValue>dismissible</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>Klarte ikke å sette henvendelsen til sladding.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Det oppstod en feil!</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>success</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Message_Screen</name>
        <label>Message Screen</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Redacted_Message_Info</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Henvendelsen er allerede satt til sladding.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Ok</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Toast</name>
        <label>Success Toast</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Success_toast_finisher</name>
            <extensionName>c:fcFlowCloseWithToast</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>closeModal</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>mode</name>
                <value>
                    <stringValue>dismissible</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>Henvendelsen ble satt til sladding.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Vellykket!</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>success</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
