force-app/main/default/flows/Case_STO_Complete_and_Next.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Automatically close the console tab after flow completion</description>
        <name>Close_Workspace_Tab</name>
        <label>Close Workspace Tab</label>
        <locationX>182</locationX>
        <locationY>734</locationY>
        <actionName>c:crmTabCloser</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Journal_Decision</name>
        <label>Journal Decision</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Close_Workspace_Tab</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Journal Entry</defaultConnectorLabel>
        <rules>
            <name>Do_Create_Journal_Entry</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Journal_Toggle.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Journal_Entry</targetReference>
            </connector>
            <label>Do Create Journal Entry</label>
        </rules>
    </decisions>
    <interviewLabel>Case STO Complete and Next {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case STO Complete and Next</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Query the thread related to the case record</description>
        <name>Get_Case_Thread</name>
        <label>Get Case Thread</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Complete_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_Related_Object__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Thread__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Case_Complete_Screen</name>
        <label>Case Complete Screen</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Journal_Decision</targetReference>
        </connector>
        <fields>
            <name>Journal_Toggle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Registrer på sak?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Ja</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>Nei</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Journal_Case_Selector</name>
            <extensionName>c:crmPersonCaseOverview</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>actorId</name>
                <value>
                    <elementReference>Get_Case_Thread.CRM_External_ActorId__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>prefilledThemeGroup</name>
                <value>
                    <elementReference>Get_Case_Thread.CRM_Theme_Group__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Journal_Toggle.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Sensitive_Toggle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Sensitiv/Kommunal informasjon?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Ja</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>Nei</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case_Thread</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Journal_Entry</name>
        <label>Create Journal Entry</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Close_Workspace_Tab</targetReference>
        </connector>
        <flowName>CRM_Thread_Create_Journal_Entry</flowName>
        <inputAssignments>
            <name>Journal_Case_ID</name>
            <value>
                <elementReference>Journal_Case_Selector.selectedCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Journal_Entry_NAV_Ident</name>
            <value>
                <elementReference>$User.CRM_NAV_Ident__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Journal_Entry_Unit</name>
            <value>
                <elementReference>$User.Department</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Journal_Theme_Code</name>
            <value>
                <elementReference>Journal_Case_Selector.selectedCaseTheme</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Case_Thread.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <description>ID of the STO case to be completed</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
