force-app/main/default/flows/Case_STO_Complete_and_Next.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Add_journal_entry_to_text</name>
        <label>Add journal entry to text</label>
        <locationX>270</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Existing_Journal_Entries</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;li&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Existing_Journal_Entries</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;p&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Existing_Journal_Entries</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;strong&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Existing_Journal_Entries</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_journal_entries.Theme__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Existing_Journal_Entries</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/strong&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Existing_Journal_Entries</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Existing_Journal_Entries</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_journal_entries.NAV_Case_Reference__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Existing_Journal_Entries</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> av </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Existing_Journal_Entries</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_journal_entries.CRM_Created_By_Ident__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Existing_Journal_Entries</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> den </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Existing_Journal_Entries</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_journal_entries.CRM_Journal_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Existing_Journal_Entries</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>.</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Existing_Journal_Entries</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/p&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Existing_Journal_Entries</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/li&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_journal_entries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Close_List</name>
        <label>Close List</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>Existing_Journal_Entries</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/ol&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Existing_Journal_Entries</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Complete_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_journal_entries_text</name>
        <label>Set journal entries text</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>Existing_Journal_Entries</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Fremtidig journalført på:</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Existing_Journal_Entries</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;br&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Existing_Journal_Entries</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;ul&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_journal_entries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set the new category for the thread transfer</description>
        <name>Set_Thread_Category</name>
        <label>Set Thread Category</label>
        <locationX>50</locationX>
        <locationY>1550</locationY>
        <assignmentItems>
            <assignToReference>Get_Case_Thread.STO_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>STO_Category_Picklist</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Submt_transfer_event</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Thread_Sensitive_Information</name>
        <label>Set Thread Sensitive Information</label>
        <locationX>182</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>Get_Case_Thread.STO_Sensitive_Information__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sensitive_Toggle.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case_Thread.Cause__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Thread_Cause</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Thread</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>NAV_UNIT_TRANSFER</name>
        <choiceText>NAV-kontor</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NAV_UNIT_TRANSFER</stringValue>
        </value>
    </choices>
    <choices>
        <name>TRANSFER_QUEUE</name>
        <choiceText>Annen kø</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>QUEUE_TRANSFER</stringValue>
        </value>
    </choices>
    <decisions>
        <name>How_many_journal_entries</name>
        <label>How many journal entries</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Case_Complete_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Has none</defaultConnectorLabel>
        <rules>
            <name>Has_any_amount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Thread_Joural_entries</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_journal_entries_text</targetReference>
            </connector>
            <label>Has any amount</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Transfer</name>
        <label>Should Transfer</label>
        <locationX>314</locationX>
        <locationY>1310</locationY>
        <defaultConnector>
            <targetReference>Set_Case_Status_On_Hold</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Don&apos;t transfer</defaultConnectorLabel>
        <rules>
            <name>Transfer_to_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Transfer_Toggle.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>INPUT_TRANSFER_TO</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TRANSFER_QUEUE</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Transfer_case</targetReference>
            </connector>
            <label>Transfer to Queue</label>
        </rules>
        <rules>
            <name>Transfer_to_NAV_Unit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Transfer_Toggle.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>INPUT_TRANSFER_TO</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NAV_UNIT_TRANSFER</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initiate_NAV_Unit_Transfer</targetReference>
            </connector>
            <label>Transfer to NAV Unit</label>
        </rules>
    </decisions>
    <decisions>
        <name>Thread_Update_Decision</name>
        <label>Thread Update Decision</label>
        <locationX>314</locationX>
        <locationY>1886</locationY>
        <defaultConnectorLabel>No Thread Update</defaultConnectorLabel>
        <rules>
            <name>Do_Update_Thread</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Sensitive_Toggle.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Transfer_to_Queue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Thread_Sensitive_Information</targetReference>
            </connector>
            <label>Update Thread</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>STO_Categories</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>STO_Category__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Thread_Cause</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Cause__c</picklistField>
        <picklistObject>Thread__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>QUEUE_TRANSFER_TEXT</name>
        <dataType>String</dataType>
        <expression>{!STO_Category_Picklist}</expression>
    </formulas>
    <interviewLabel>Case STO Complete and Next {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case STO Complete and Next</label>
    <loops>
        <description>Loops through each journal entry</description>
        <name>Loop_over_journal_entries</name>
        <label>Loop over journal entries</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <collectionReference>Get_Thread_Joural_entries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_journal_entry_to_text</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Close_List</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Query the thread related to the case record</description>
        <name>Get_Case_Thread</name>
        <label>Get Case Thread</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Thread_Joural_entries</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_Related_Object__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Thread__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets all registered journal entries for the case</description>
        <name>Get_Thread_Joural_entries</name>
        <label>Get Thread Joural entries</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>How_many_journal_entries</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_Thread__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case_Thread.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Journal_Entry__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>NAV_Case_Reference__c</queriedFields>
        <queriedFields>CRM_Journal_Date__c</queriedFields>
        <queriedFields>Theme__c</queriedFields>
        <queriedFields>CRM_Created_By_Ident__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Case_Status_On_Hold</name>
        <label>Set Case Status On Hold</label>
        <locationX>578</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>Thread_Update_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>On Hold</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Transfer_case</name>
        <label>Transfer case</label>
        <locationX>50</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>Set_Thread_Category</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CRM_Run_Case_Assignment__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>STO_Category__c</field>
            <value>
                <elementReference>STO_Category_Picklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Forwarded</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Thread</name>
        <label>Update Thread</label>
        <locationX>182</locationX>
        <locationY>2126</locationY>
        <inputReference>Get_Case_Thread</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Case_Complete_Screen</name>
        <label>Case Complete Screen</label>
        <locationX>314</locationX>
        <locationY>1190</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Should_Transfer</targetReference>
        </connector>
        <fields>
            <name>Existing_Journal_Entry_text</name>
            <fieldText>&lt;p&gt;{!Existing_Journal_Entries}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Sensitive_Toggle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Samtalen skal vurderes for sladding</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Ja</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>Nei</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Cause</name>
            <choiceReferences>Thread_Cause</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Årsak</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Sensitive_Toggle.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Transfer_Toggle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Overfør</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Ja</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>Nei</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>INPUT_TRANSFER_TO</name>
            <choiceReferences>TRANSFER_QUEUE</choiceReferences>
            <choiceReferences>NAV_UNIT_TRANSFER</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>TRANSFER_QUEUE</defaultSelectedChoiceReference>
            <fieldText>Sett over til:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Transfer_Toggle.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>STO_Category_Picklist</name>
            <choiceReferences>STO_Categories</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Arbeid</stringValue>
            </defaultValue>
            <fieldText>Kø</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Transfer_Toggle.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>INPUT_TRANSFER_TO</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>TRANSFER_QUEUE</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Case_Complete_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Case_Complete_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>THEME_CATEGORIZATION</name>
                    <extensionName>c:crmThemeCategorization</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>themeGroup</name>
                        <value>
                            <elementReference>Get_Case_Thread.CRM_Theme_Group__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>theme</name>
                        <value>
                            <elementReference>Get_Case_Thread.CRM_Theme__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>TASK_TYPE_SELECTOR</name>
                    <extensionName>c:crmTaskTypePicklist</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>TASK_COMMENT</name>
                    <fieldText>Kommentar</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>TRANFER_UNIT_ALLOCATION</name>
                    <extensionName>c:crmNavTaskWorkAllocation</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>hideDelegateToSelf</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disableConditionalRendering</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>taskType</name>
                        <value>
                            <stringValue>KONT_BRUK</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>theme</name>
                        <value>
                            <stringValue>KNA</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>themeGroup</name>
                        <value>
                            <elementReference>Get_Case_Thread.CRM_Theme_Group_Code__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>personId</name>
                        <value>
                            <elementReference>Get_Case_Thread.CRM_Account__r.CRM_Person__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Transfer_Toggle.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>INPUT_TRANSFER_TO</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>NAV_UNIT_TRANSFER</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Fullfør</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case_Thread</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Initiate_NAV_Unit_Transfer</name>
        <label>Initiate NAV Unit Transfer</label>
        <locationX>314</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>Thread_Update_Decision</targetReference>
        </connector>
        <flowName>STO_Transfer_to_NAV_Unit_Auto</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TASK_COMMENTS</name>
            <value>
                <elementReference>TASK_COMMENT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TASK_TASKTYPE_ID</name>
            <value>
                <elementReference>TASK_TYPE_SELECTOR.selectedTaskTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TASK_THEME_GROUP_ID</name>
            <value>
                <elementReference>THEME_CATEGORIZATION.themeGroup</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TASK_THEME_ID</name>
            <value>
                <elementReference>THEME_CATEGORIZATION.theme</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Thread_ID</name>
            <value>
                <elementReference>Get_Case_Thread.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TRANSFER_TO_UNIT_NUMBER</name>
            <value>
                <elementReference>TRANFER_UNIT_ALLOCATION.selectedUnitNumber</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Submt_transfer_event</name>
        <label>Submt transfer event</label>
        <locationX>50</locationX>
        <locationY>1670</locationY>
        <connector>
            <targetReference>Thread_Update_Decision</targetReference>
        </connector>
        <flowName>CRM_Create_Thread_Event</flowName>
        <inputAssignments>
            <name>Event_Message</name>
            <value>
                <elementReference>QUEUE_TRANSFER_TEXT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Event_Type</name>
            <value>
                <stringValue>QUEUE_TRANSFER</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Thread_ID</name>
            <value>
                <elementReference>Get_Case_Thread.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Case_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>Text to display all of the previous journal entries on a case.</description>
        <name>Existing_Journal_Entries</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Denne saken er ikke journalført</stringValue>
        </value>
    </variables>
    <variables>
        <description>ID of the STO case to be completed</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
