force-app/main/default/flows/Case_After_Insert_New_STO_Case_Update_Entitlement.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <description>Verify if the account already has an entitlement record created, if not this
            needs to be created first</description>
        <name>Check_Account_Entitlement</name>
        <label>Check Account Entitlement</label>
        <locationX>352</locationX>
        <locationY>408</locationY>
        <defaultConnector>
            <targetReference>Get_Entitlement_Process</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Entitlement</defaultConnectorLabel>
        <rules>
            <name>Has_STO_Entitlement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ACCOUNT_ENTITLEMENT_ID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Entitlement_ID</targetReference>
            </connector>
            <label>Has STO Entitlement</label>
        </rules>
    </decisions>
    <description>Handles setting the correct entitlement ID for the created STO case</description>
    <environments>Default</environments>
    <formulas>
        <name>entitlementBasedOnCaseOrigin</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.NKS_Case_Origin__c} = &apos;STO&apos;, &apos;STO Entitlement&apos;,
            &apos;BTO Entitlement&apos;)</expression>
    </formulas>
    <interviewLabel>Case - After Insert - New STO Case Update Entitlement {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - After Insert - New STO Case Update Entitlement</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Account_Entitlement</name>
        <label>Create Account Entitlement</label>
        <locationX>440</locationX>
        <locationY>648</locationY>
        <assignRecordIdToReference>ACCOUNT_ENTITLEMENT_ID</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Case_Entitlement_ID</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Application_Log</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BusinessHoursId</field>
            <value>
                <elementReference>Get_Entitlement_Process.BusinessHoursId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>entitlementBasedOnCaseOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SlaProcessId</field>
            <value>
                <elementReference>Get_Entitlement_Process.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Web Support</stringValue>
            </value>
        </inputAssignments>
        <object>Entitlement</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Application_Log</name>
        <label>Create Application Log</label>
        <locationX>704</locationX>
        <locationY>768</locationY>
        <inputAssignments>
            <field>Application_Domain__c</field>
            <value>
                <stringValue>NKS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <stringValue>Entitlement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Level__c</field>
            <value>
                <stringValue>Warning</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Message__c</field>
            <value>
                <stringValue>Failed to create entitlement for account</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pay_Load__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referrence_ID__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referrence_Info__c</field>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Class__c</field>
            <value>
                <stringValue>Case - After Insert - New STO Case Update Entitlement</stringValue>
            </value>
        </inputAssignments>
        <object>Application_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Application_Log_0</name>
        <label>Create Application Log</label>
        <locationX>968</locationX>
        <locationY>1248</locationY>
        <inputAssignments>
            <field>Application_Domain__c</field>
            <value>
                <stringValue>NKS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <stringValue>Entitlement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Level__c</field>
            <value>
                <stringValue>Warning</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Message__c</field>
            <value>
                <stringValue>Failed to update entitlementId for case</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pay_Load__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referrence_ID__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referrence_Info__c</field>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Class__c</field>
            <value>
                <stringValue>Case - After Insert - New STO Case Update Entitlement</stringValue>
            </value>
        </inputAssignments>
        <object>Application_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_STO_Entitlement</name>
        <label>Get Account STO Entitlement</label>
        <locationX>352</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Account_Entitlement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Web Support</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>Entitlement</object>
        <outputAssignments>
            <assignToReference>ACCOUNT_ENTITLEMENT_ID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Entitlement_Process</name>
        <label>Get Entitlement Process</label>
        <locationX>440</locationX>
        <locationY>528</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Account_Entitlement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsVersionDefault</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>sto_process</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SlaProcess</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_Entitlement_ID</name>
        <label>Update Case Entitlement ID</label>
        <locationX>352</locationX>
        <locationY>1128</locationY>
        <faultConnector>
            <targetReference>Create_Application_Log_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>EntitlementId</field>
            <value>
                <elementReference>ACCOUNT_ENTITLEMENT_ID</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Origin</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>STO</stringValue>
            </value>
        </filters>
        <filters>
            <field>Origin</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BTO</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_Account_STO_Entitlement</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ACCOUNT_ENTITLEMENT_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>