force-app/main/default/flows/Case_STO_Put_Back.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Close_workspace_tab</name>
        <label>Close workspace tab</label>
        <locationX>512</locationX>
        <locationY>1382</locationY>
        <actionName>c:crmTabCloser</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_Case_Values</name>
        <label>Assign Case Values</label>
        <locationX>512</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>Get_Case_Record.CRM_Run_Case_Assignment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_forwarded_status</name>
        <label>Set forwarded status</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Get_Case_Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Forwarded</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Case_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Incompetent_IDs</name>
        <label>Set Incompetent IDs</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Prior_Incompetent_Values</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Record.NKS_Incompetent_IDs__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_case_field</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_STO_Category</name>
        <label>Set STO Category</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Get_Case_Record.STO_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Chosen_Queue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsBTO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_STO_Origin_and_Status_New</name>
        <label>Set STO Origin and Status New</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Get_Case_Record.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>STO</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case_Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Thread_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_case_field</name>
        <label>Update case field</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Get_Case_Record.NKS_Incompetent_IDs__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Incompetent_Value_Formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_forwarded_status</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>End_Of_Session</name>
        <choiceText>Avslutning av økt</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>End_Of_Session</stringValue>
        </value>
    </choices>
    <choices>
        <name>Incompetent</name>
        <choiceText>Inhabil</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Incompetent</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Annet</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Wrong_Queue</name>
        <choiceText>Legg til kø</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Wrong_Queue</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Case_Status</name>
        <label>Check Case Status</label>
        <locationX>809</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Case_Is_Put_Back_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Forwarded_Or_Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Forwarded</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Put_Back_Screen</targetReference>
            </connector>
            <label>Not Forwarded Or Closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Put_Back_Decision</name>
        <label>Check Put Back Decision</label>
        <locationX>512</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Set_forwarded_status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Wrong_Queue_Choice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Put_Back_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Wrong_Queue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_STO_Category</targetReference>
            </connector>
            <label>Wrong Queue</label>
        </rules>
        <rules>
            <name>Incompetent_Choice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Put_Back_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Incompetent</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Incompetent_IDs</targetReference>
            </connector>
            <label>Incompetent</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsBTO</name>
        <label>IsBTO?</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_forwarded_status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BTO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BTO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_STO_Origin_and_Status_New</targetReference>
            </connector>
            <label>BTO</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>STO_Category_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>STO_Category__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Incompetent_Value_Formula</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!Prior_Incompetent_Values},CASESAFEID({!$User.Id})), {!Prior_Incompetent_Values}, {!Prior_Incompetent_Values}&amp;CASESAFEID({!$User.Id})&amp;&apos;,&apos;)</expression>
    </formulas>
    <formulas>
        <name>Queue_Transfer_Text</name>
        <dataType>String</dataType>
        <expression>{!Chosen_Queue}</expression>
    </formulas>
    <interviewLabel>Case STO Put Back {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case STO Put Back</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Case_Record</name>
        <label>Get Case Record</label>
        <locationX>809</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Case_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Updates the case to retrigger assignment to be put back to queue.</description>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>512</locationX>
        <locationY>1274</locationY>
        <connector>
            <targetReference>Close_workspace_tab</targetReference>
        </connector>
        <inputReference>Get_Case_Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Thread_Type</name>
        <label>Update Thread Type</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Assign_Case_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CRM_Thread_Type__c</field>
            <value>
                <stringValue>STO</stringValue>
            </value>
        </inputAssignments>
        <object>Thread__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Case_Is_Put_Back_Screen</name>
        <label>Case Is Put Back Screen</label>
        <locationX>1106</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Is_Put_Back_Screen</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(68, 68, 68);&quot;&gt;Henvendelsen er allerede lagt tilbake.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Put_Back_Screen</name>
        <label>Put Back Screen</label>
        <locationX>512</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Put_Back_Decision</targetReference>
        </connector>
        <fields>
            <name>Put_Back_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Put_Back_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Put_Back_Reason</name>
                    <choiceReferences>Wrong_Queue</choiceReferences>
                    <choiceReferences>Incompetent</choiceReferences>
                    <choiceReferences>End_Of_Session</choiceReferences>
                    <choiceReferences>Other</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>Wrong_Queue</defaultSelectedChoiceReference>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Put_Back_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Put_Back_Reason_Input</name>
                    <fieldText>Årsak</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Put_Back_Reason</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Other</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Chosen_Queue</name>
                    <choiceReferences>STO_Category_Picklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Velg temagruppe</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Put_Back_Reason</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Wrong_Queue</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Legg tilbake</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>683</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Prior_Incompetent_Values</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>ID of the case to be assigned back to the original queue.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
