force-app/main/default/flows/Case_STO_Put_Back.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Close_workspace_tab</name>
        <label>Close workspace tab</label>
        <locationX>644</locationX>
        <locationY>1964</locationY>
        <actionName>c:crmTabCloser</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>c:crmTabCloser</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Case_Values</name>
        <label>Assign Case Values</label>
        <locationX>644</locationX>
        <locationY>1640</locationY>
        <assignmentItems>
            <assignToReference>Get_Case_Record.CRM_Run_Case_Assignment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Forwarded_Status</name>
        <label>Set Forwarded Status</label>
        <locationX>776</locationX>
        <locationY>1448</locationY>
        <assignmentItems>
            <assignToReference>Get_Case_Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Forwarded</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Case_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Incompetent_IDs</name>
        <label>Set Incompetent IDs</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Prior_Incompetent_Values</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Record.NKS_Incompetent_IDs__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_case_field</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Status to New so that the Case is picked up again.</description>
        <name>Set_New_Status</name>
        <label>Set New Status</label>
        <locationX>512</locationX>
        <locationY>1448</locationY>
        <assignmentItems>
            <assignToReference>Get_Case_Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Case_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_STO_Category</name>
        <label>Set STO Category</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Get_Case_Record.STO_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Chosen_Queue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Thread.STO_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Chosen_Queue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsBTO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_STO_fields</name>
        <label>Set STO fields on Case and Thread</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Get_Case_Record.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>STO</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Thread2.CRM_Thread_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>STO</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Thread2.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Skriv til oss</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Thread2.CRM_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>STO</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Thread</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Status New instead of Forwarded to prevent BTO -&gt; STO to get prioritized.</description>
        <name>Set_STO_Origin_Status_New_and_Thread_Type</name>
        <label>Set STO Origin, Status New and Thread Type</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>Get_Case_Record.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>STO</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case_Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Thread.CRM_Thread_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>STO</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Thread.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Skriv til oss</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Thread.CRM_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>STO</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Thread_Type_and_Category</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_case_field</name>
        <label>Update case field</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Get_Case_Record.NKS_Incompetent_IDs__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Incompetent_Value_Formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Set_Forwarded_Status</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ChangetoSTO</name>
        <choiceText>Gjør om til STO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Gjør om til STO</stringValue>
        </value>
    </choices>
    <choices>
        <name>End_Of_Session</name>
        <choiceText>Avslutning av økt</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>End_Of_Session</stringValue>
        </value>
    </choices>
    <choices>
        <name>Incompetent</name>
        <choiceText>Inhabil</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Incompetent</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Annet</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Wrong_Queue</name>
        <choiceText>Legg tilbake i kø</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Wrong_Queue</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Case_Status</name>
        <label>Check Case Status</label>
        <locationX>963</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Case_Is_Put_Back_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Forwarded_Or_Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Forwarded</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Put_Back_Screen</targetReference>
            </connector>
            <label>Not Forwarded Or Closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Put_Back_Decision</name>
        <label>Check Put Back Decision</label>
        <locationX>644</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Is_Case_Category_International</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Wrong_Queue_Choice</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Put_Back_Reason_BTO</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Wrong_Queue</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Put_Back_Reason_STO</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Wrong_Queue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Thread</targetReference>
            </connector>
            <label>Wrong Queue</label>
        </rules>
        <rules>
            <name>Incompetent_Choice</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Put_Back_Reason_BTO</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Incompetent</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Put_Back_Reason_STO</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Incompetent</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Incompetent_IDs</targetReference>
            </connector>
            <label>Incompetent</label>
        </rules>
        <rules>
            <name>Change_to_STO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Put_Back_Reason_BTO</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ChangetoSTO</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Thread2</targetReference>
            </connector>
            <label>Change to STO</label>
        </rules>
    </decisions>
    <decisions>
        <description>International queue has a problem where there are many cases from other queues being transfered to International. This leads to a big queue of International PSRs building up because the forwarded Cases are prioritized. To solve this we do not give International Cases Forwarded status, to prevent them from being picked up first. Now they will be put in the back of the PSR queue.</description>
        <name>Is_Case_Category_International</name>
        <label>Is Case Category International?</label>
        <locationX>644</locationX>
        <locationY>1340</locationY>
        <defaultConnector>
            <targetReference>Set_Forwarded_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not International</defaultConnectorLabel>
        <rules>
            <name>International</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Record.STO_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Internasjonal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_New_Status</targetReference>
            </connector>
            <label>International</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsBTO</name>
        <label>Is BTO and put back as STO?</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Update_Thread_Category</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BTO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BTO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>STO</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_STO_Origin_Status_New_and_Thread_Type</targetReference>
            </connector>
            <label>BTO and put back as STO</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>STO_Category_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>STO_Category__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Incompetent_Value_Formula</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!Prior_Incompetent_Values},CASESAFEID({!$User.Id})), {!Prior_Incompetent_Values}, {!Prior_Incompetent_Values}&amp;CASESAFEID({!$User.Id})&amp;&apos;,&apos;)</expression>
    </formulas>
    <formulas>
        <name>Queue_Transfer_Text</name>
        <dataType>String</dataType>
        <expression>{!Chosen_Queue}</expression>
    </formulas>
    <interviewLabel>Case STO Put Back {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case STO Put Back</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Case_Record</name>
        <label>Get Case Record</label>
        <locationX>963</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Case_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Thread</name>
        <label>Get Thread</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_STO_Category</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Thread__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Thread2</name>
        <label>Get Thread</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_STO_fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Thread__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Updates the case to retrigger assignment to be put back to queue.</description>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>644</locationX>
        <locationY>1748</locationY>
        <connector>
            <targetReference>Prevent_Bob_PopUp</targetReference>
        </connector>
        <inputReference>Get_Case_Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Fields</name>
        <label>Update Case</label>
        <locationX>842</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Refresh_Tab</targetReference>
        </connector>
        <inputReference>Get_Case_Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Thread</name>
        <label>Update Thread</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Update_Case_Fields</targetReference>
        </connector>
        <inputReference>Get_Thread2</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Thread_Category</name>
        <label>Update Thread Category</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Is_Case_Category_International</targetReference>
        </connector>
        <inputReference>Get_Thread</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Thread_Type_and_Category</name>
        <label>Update Thread Type and Category</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Case_Values</targetReference>
        </connector>
        <inputReference>Get_Thread</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Case_Is_Put_Back_Screen</name>
        <label>Case Is Put Back Screen</label>
        <locationX>1282</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Is_Put_Back_Screen</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(68, 68, 68);&quot;&gt;Henvendelsen er allerede lagt tilbake.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Prevent_Bob_PopUp</name>
        <label>Prevent Bob PopUp</label>
        <locationX>644</locationX>
        <locationY>1856</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Close_workspace_tab</targetReference>
        </connector>
        <fields>
            <name>nkwLMSPublisher</name>
            <extensionName>c:nksLMSPublisher</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageChannelApiName</name>
                <value>
                    <stringValue>bobPreventPopUp__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Case_Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Put_Back_Screen</name>
        <label>Put Back Screen</label>
        <locationX>644</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Put_Back_Decision</targetReference>
        </connector>
        <fields>
            <name>Put_Back_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Put_Back_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Put_Back_Reason_BTO</name>
                    <choiceReferences>Wrong_Queue</choiceReferences>
                    <choiceReferences>ChangetoSTO</choiceReferences>
                    <choiceReferences>Incompetent</choiceReferences>
                    <choiceReferences>End_Of_Session</choiceReferences>
                    <choiceReferences>Other</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>Wrong_Queue</defaultSelectedChoiceReference>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Case_Record.Origin</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>BTO</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Put_Back_Reason_STO</name>
                    <choiceReferences>Wrong_Queue</choiceReferences>
                    <choiceReferences>Incompetent</choiceReferences>
                    <choiceReferences>End_Of_Session</choiceReferences>
                    <choiceReferences>Other</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>Wrong_Queue</defaultSelectedChoiceReference>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Case_Record.Origin</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>STO</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Put_Back_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Put_Back_Reason_Input</name>
                    <fieldText>Årsak</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Put_Back_Reason_BTO</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Other</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Put_Back_Reason_STO</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Other</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>STO</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Legg tilbake i kø som STO</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>false</booleanValue>
                    </isDisabled>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Put_Back_Reason_BTO</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Wrong_Queue</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_Case_Record.Origin</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>BTO</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Chosen_Queue</name>
                    <choiceReferences>STO_Category_Picklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Velg temagruppe</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Put_Back_Reason_BTO</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Wrong_Queue</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Put_Back_Reason_STO</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Wrong_Queue</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>NEXT_BUTTON</name>
            <extensionName>c:nksFlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Legg tilbake</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ChangetoSTO</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NEXT_BUTTON_CHANGE_BTO_TO_STO</name>
            <extensionName>c:nksFlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>buttonLabel</name>
                <value>
                    <stringValue>Gjennomfør</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ChangetoSTO</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Legg tilbake</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Refresh_Tab</name>
        <label>Refresh Tab</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>nksTabRefresher</name>
            <extensionName>c:nksTabRefresher</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>837</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Prior_Incompetent_Values</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>ID of the case to be assigned back to the original queue.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
