force-app/main/default/flows/Case_STO_Put_Back.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Close_workspace_tab</name>
        <label>Close workspace tab</label>
        <locationX>176</locationX>
        <locationY>974</locationY>
        <actionName>c:crmTabCloser</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <choices>
        <name>Incompetent</name>
        <choiceText>Inhabil</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Incompetent</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Annet</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Wrong_Queue</name>
        <choiceText>Feil temagruppe</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Wrong_Queue</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Put_Back_Decision</name>
        <label>Check Put Back Decision</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Update_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Incompetent_Choice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Put_Back_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Incompetent</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case</targetReference>
            </connector>
            <label>Incompetent</label>
        </rules>
        <rules>
            <name>Other_Choice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Put_Back_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Other</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case</targetReference>
            </connector>
            <label>Other</label>
        </rules>
        <rules>
            <name>Wrong_Queue_Choice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Put_Back_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Wrong_Queue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Thread</targetReference>
            </connector>
            <label>Wrong Queue</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>STO_Category_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>STO_Category__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>Queue_Transfer_Text</name>
        <dataType>String</dataType>
        <expression>{!Chosen_Queue}</expression>
    </formulas>
    <interviewLabel>Case STO Put Back {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case STO Put Back</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Thread</name>
        <label>Get Thread</label>
        <locationX>220</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_STO_category</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_Related_Object__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Thread__c</object>
        <outputAssignments>
            <assignToReference>ThreadID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <description>Updates the case to retrigger assignment to be put back to queue.</description>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>176</locationX>
        <locationY>854</locationY>
        <connector>
            <targetReference>Close_workspace_tab</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CRM_Run_Case_Assignment__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_STO_category</name>
        <label>Update STO category</label>
        <locationX>220</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Submit_Transfer_Event</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>STO_Category__c</field>
            <value>
                <elementReference>Chosen_Queue</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Put_Back_Screen</name>
        <label>Put Back Screen</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Put_Back_Decision</targetReference>
        </connector>
        <fields>
            <name>Put_Back_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Put_Back_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Put_Back_Reason</name>
                    <choiceReferences>Wrong_Queue</choiceReferences>
                    <choiceReferences>Incompetent</choiceReferences>
                    <choiceReferences>Other</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>Wrong_Queue</defaultSelectedChoiceReference>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Put_Back_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Put_Back_Reason_Input</name>
                    <fieldText>Årsak</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Put_Back_Reason</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Other</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Chosen_Queue</name>
                    <choiceReferences>STO_Category_Picklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Velg temagruppe</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Put_Back_Reason</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Wrong_Queue</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Legg tilbake</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Put_Back_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Add a transfer event message to the thread</description>
        <name>Submit_Transfer_Event</name>
        <label>Submit Transfer Event</label>
        <locationX>220</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <flowName>CRM_Create_Thread_Event</flowName>
        <inputAssignments>
            <name>Event_Message</name>
            <value>
                <elementReference>Queue_Transfer_Text</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Event_Type</name>
            <value>
                <stringValue>QUEUE_TRANSFER</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Thread_ID</name>
            <value>
                <elementReference>ThreadID</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <description>ID of the case to be assigned back to the original queue.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ThreadID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
