force-app/main/default/flows/Create_STB_Oppgave.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Check_if_NavIdent_is_active_in_unit</name>
        <label>Check if NavIdent is active in unit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>NKS_EntraController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_if_Assignee_still_working_for_Unit</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>navIdent</name>
            <value>
                <elementReference>Thread.CRM_Assignee__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>unitNumber</name>
            <value>
                <elementReference>Thread.CRM_Assignee_NAV_Unit__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NKS_EntraController</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_Nav_Unit_Status</name>
        <label>Get Nav Unit Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>NKS_NavUnitSingleController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_if_Nav_Unit_is_Active</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>navUnitNumber</name>
            <value>
                <elementReference>Thread.CRM_Assignee_NAV_Unit__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NKS_NavUnitSingleController</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Post_Nav_Task</name>
        <label>Post Nav Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>OppgaveManager</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>aktoerId</name>
            <value>
                <elementReference>Thread.CRM_Account__r.CRM_Person__r.INT_ActorId__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>eksternHenvendelseId</name>
            <value>
                <elementReference>Thread.CRM_API_Reference__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logCategory</name>
            <value>
                <elementReference>Optional_Log_Category</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>methodType</name>
            <value>
                <stringValue>POST</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>oppgavetype</name>
            <value>
                <elementReference>Oppgave_Type</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>opprettetAvEnhetsnr</name>
            <value>
                <elementReference>Thread.CRM_Assignee_NAV_Unit__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>prioritet</name>
            <value>
                <stringValue>HOY</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tema</name>
            <value>
                <elementReference>Oppgave_Theme</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tildeltEnhetsnr</name>
            <value>
                <elementReference>Oppgave_Unit</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tilordnetRessurs</name>
            <value>
                <elementReference>Oppgave_Assignee</elementReference>
            </value>
        </inputParameters>
        <nameSegment>OppgaveManager</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Current_Ident</name>
        <label>Assign Current Ident</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Oppgave_Assignee</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Thread.CRM_Assignee__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_FAR_theme</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_Unit</name>
        <label>Assign Current Unit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Oppgave_Unit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Thread.CRM_Assignee_NAV_Unit__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_NavIdent_is_active_in_unit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Convert_Theme_to_Bidrag</name>
        <label>Convert Theme to Bidrag</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Oppgave_Theme</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>BID</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_Nav_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Inherit_Thread_Theme</name>
        <label>Inherit Thread Theme</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Oppgave_Theme</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Thread.CRM_Theme_Code__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_Nav_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_KNA_Theme</name>
        <label>Set KNA Theme</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Oppgave_Theme</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>KNA</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_Nav_Task</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Assignee_still_working_for_Unit</name>
        <label>Check if Assignee still working for Unit</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_FAR_theme</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Assignee_still_active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_if_NavIdent_is_active_in_unit</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Current_Ident</targetReference>
            </connector>
            <label>Assignee still active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Nav_Unit_is_Active</name>
        <label>Check if Nav Unit is Active</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_FAR_theme</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Unit no longer exists</defaultConnectorLabel>
        <rules>
            <name>Unit_is_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Nav_Unit_Status.unit</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Nav_Unit_Status.unit.status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aktiv</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Current_Unit</targetReference>
            </connector>
            <label>Unit is Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Thread_Theme</name>
        <label>Check Thread Theme</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_KNA_Theme</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Set Default Theme</defaultConnectorLabel>
        <rules>
            <name>Theme_is_FAR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Thread.CRM_Theme__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_FAR_theme.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Convert_Theme_to_Bidrag</targetReference>
            </connector>
            <label>Theme is FAR</label>
        </rules>
        <rules>
            <name>Thread_has_theme</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Thread.CRM_Theme__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inherit_Thread_Theme</targetReference>
            </connector>
            <label>Thread has theme</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Create STB Oppgave {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create STB Oppgave</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_FAR_theme</name>
        <label>Get FAR theme</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Thread_Theme</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_Code_Set__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tema</stringValue>
            </value>
        </filters>
        <filters>
            <field>CRM_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FAR</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Common_Code__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Nav_Unit_Status</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Oppgave_Assignee</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Oppgave_Theme</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Oppgave_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Oppgave_Unit</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Optional_Log_Category</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Thread</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Thread__c</objectType>
    </variables>
</Flow>
