force-app/main/default/flows/CRM_STO_Transfer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Set_Thread_Category</name>
        <label>Set Thread Category</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Get_Thread.STO_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>STO_Category_Picklist</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Submit_Transfer_Event</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Transfer_to_Queue</name>
        <choiceText>Annen kø</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>QUEUE_TRANSFER</stringValue>
        </value>
    </choices>
    <dynamicChoiceSets>
        <name>STO_Categories</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>STO_Category__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>Queue_Transfer_Text</name>
        <dataType>String</dataType>
        <expression>{!STO_Category_Picklist}</expression>
    </formulas>
    <interviewLabel>STO transfer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>STO transfer</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Query the case information</description>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Thread</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the STO Thread information</description>
        <name>Get_Thread</name>
        <label>Get Thread</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Transfer_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_API_Reference__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.NKS_Henvendelse_BehandlingsId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Thread__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Assign_Case_to_Queue</name>
        <label>Assign Case to Queue</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Set_Thread_Category</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CRM_Run_Case_Assignment__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>STO_Category__c</field>
            <value>
                <elementReference>STO_Category_Picklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Forwarded</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_thread</name>
        <label>Update thread</label>
        <locationX>176</locationX>
        <locationY>878</locationY>
        <inputReference>Get_Thread</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <description>Screen including transfer options.</description>
        <name>Transfer_Screen</name>
        <label>Transfer Screen</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Case_to_Queue</targetReference>
        </connector>
        <fields>
            <name>Transfer_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Transfer_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Transfer_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>STO_Category_Picklist</name>
                    <choiceReferences>STO_Categories</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Case.STO_Category__c</elementReference>
                    </defaultValue>
                    <fieldText>Kø:</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Transfer_Screen_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Add a transfer event message to the thread</description>
        <name>Submit_Transfer_Event</name>
        <label>Submit Transfer Event</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Update_thread</targetReference>
        </connector>
        <flowName>CRM_Create_Thread_Event</flowName>
        <inputAssignments>
            <name>Event_Message</name>
            <value>
                <elementReference>Queue_Transfer_Text</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Event_Type</name>
            <value>
                <stringValue>QUEUE_TRANSFER</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Thread_ID</name>
            <value>
                <elementReference>Get_Thread.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Queue_IDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>STO queue names</description>
        <name>Queue_Names</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>STO_QUEUES</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>Thread_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
