force-app/main/default/flows/CRM_STO_Transfer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Set_Thread_Category</name>
        <label>Set Thread Category</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Get_Thread.STO_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>STO_Category_Picklist</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Submit_Transfer_Event</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Transfer_to_NAV_Unit</name>
        <choiceText>NAV-enhet</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NAV_UNIT_TRANSFER</stringValue>
        </value>
    </choices>
    <choices>
        <name>Transfer_to_Queue</name>
        <choiceText>Annen kø</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>QUEUE_TRANSFER</stringValue>
        </value>
    </choices>
    <decisions>
        <description>Check if the inquiry should be transferred to a Salesforce queue or to another NAV unit (via NAV Task)</description>
        <name>Transfer_Decision</name>
        <label>Transfer Decision</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Initiate_NAVUnit_Transfer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Transfer to NAV Unit</defaultConnectorLabel>
        <rules>
            <name>Queue_Transfer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Transfer_to</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Transfer_to_Queue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Case_to_Queue</targetReference>
            </connector>
            <label>Queue Transfer</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>STO_Categories</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>STO_Category__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>NAV_Unit_Transfer_Text</name>
        <dataType>String</dataType>
        <expression>{!NAV_Unit_Allocator.selectedUnitName}</expression>
    </formulas>
    <formulas>
        <name>Queue_Transfer_Text</name>
        <dataType>String</dataType>
        <expression>{!STO_Category_Picklist}</expression>
    </formulas>
    <interviewLabel>STO transfer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>STO transfer</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Query the case information</description>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Thread</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the STO Thread information</description>
        <name>Get_Thread</name>
        <label>Get Thread</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Transfer_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_API_Reference__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.NKS_Henvendelse_BehandlingsId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Thread__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Assign_Case_to_Queue</name>
        <label>Assign Case to Queue</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Set_Thread_Category</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CRM_Run_Case_Assignment__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>STO_Category__c</field>
            <value>
                <elementReference>STO_Category_Picklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Forwarded</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_thread</name>
        <label>Update thread</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <inputReference>Get_Thread</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <description>Screen including transfer options.</description>
        <name>Transfer_Screen</name>
        <label>Transfer Screen</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Transfer_Decision</targetReference>
        </connector>
        <fields>
            <name>Transfer_to</name>
            <choiceReferences>Transfer_to_Queue</choiceReferences>
            <choiceReferences>Transfer_to_NAV_Unit</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Transfer_to_Queue</defaultSelectedChoiceReference>
            <fieldText>Sett over til:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>STO_Category_Picklist</name>
            <choiceReferences>STO_Categories</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Case.STO_Category__c</elementReference>
            </defaultValue>
            <fieldText>Kø:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Transfer_to</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Transfer_to_Queue</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Transfer_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Transfer_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NAV_Task_Categorization</name>
                    <extensionName>c:crmThemeCategorization</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>themeGroup</name>
                        <value>
                            <elementReference>Get_Thread.CRM_Theme_Group__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>theme</name>
                        <value>
                            <elementReference>Get_Thread.CRM_Theme__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Task_Type_Selection</name>
                    <extensionName>c:crmTaskTypePicklist</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>showcomponent</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Task_Comment</name>
                    <fieldText>Kommentar</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>NAV_Unit_Allocator</name>
                    <extensionName>c:crmNavTaskWorkAllocation</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>personId</name>
                        <value>
                            <elementReference>Get_Thread.CRM_Account__r.CRM_Person__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>hideDelegateToSelf</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disableConditionalRendering</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Transfer_to</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Transfer_to_NAV_Unit</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Initiate_NAVUnit_Transfer</name>
        <label>Initiate NAV Unit Transfer</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <flowName>STO_Transfer_to_NAV_Unit_Auto</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TASK_COMMENTS</name>
            <value>
                <elementReference>Task_Comment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TASK_SUBTHEME_ID</name>
            <value>
                <elementReference>NAV_Task_Categorization.subtheme</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TASK_SUBTYPE_ID</name>
            <value>
                <elementReference>NAV_Task_Categorization.subtype</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TASK_TASKTYPE_ID</name>
            <value>
                <elementReference>Task_Type_Selection.selectedTaskTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TASK_THEME_GROUP_ID</name>
            <value>
                <elementReference>NAV_Task_Categorization.themeGroup</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TASK_THEME_ID</name>
            <value>
                <elementReference>NAV_Task_Categorization.theme</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Thread_ID</name>
            <value>
                <elementReference>Get_Thread.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TRANSFER_TO_UNIT_NUMBER</name>
            <value>
                <elementReference>NAV_Unit_Allocator.selectedUnitNumber</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Add a transfer event message to the thread</description>
        <name>Submit_Transfer_Event</name>
        <label>Submit Transfer Event</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Update_thread</targetReference>
        </connector>
        <flowName>CRM_Create_Thread_Event</flowName>
        <inputAssignments>
            <name>Event_Message</name>
            <value>
                <elementReference>Queue_Transfer_Text</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Event_Type</name>
            <value>
                <stringValue>QUEUE_TRANSFER</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Thread_ID</name>
            <value>
                <elementReference>Get_Thread.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Queue_IDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>STO queue names</description>
        <name>Queue_Names</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>NAV task to be generated when transferring STO to another NAV Unit</description>
        <name>STO_NAV_TASK</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NavTask__c</objectType>
    </variables>
    <variables>
        <name>STO_QUEUES</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>Thread_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
