force-app/main/default/flows/CRM_Case_Journal_STO_Thread.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Check_Inputs</name>
        <label>Check Inputs</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Get_Thread_API_Reference</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Case</defaultConnectorLabel>
        <rules>
            <name>Has_Thread_ID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Thread_ID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Thread</targetReference>
            </connector>
            <label>Has Thread ID</label>
        </rules>
    </decisions>
    <interviewLabel>Ca {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Journal STO Thread</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Thread</name>
        <label>Get Thread</label>
        <locationX>176</locationX>
        <locationY>494</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Thread_Journal_Screen</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Thread_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>CRM_API_Reference__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>THREAD_API_REFERENCE</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Thread__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Thread_API_Reference</name>
        <label>Get Thread API Reference</label>
        <locationX>264</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Thread</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>THREAD_API_REFERENCE</assignToReference>
            <field>NKS_Henvendelse_BehandlingsId__c</field>
        </outputAssignments>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Journal_Success_Screen_0</name>
        <label>Journal Success Screen</label>
        <locationX>176</locationX>
        <locationY>974</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Notify_Thread_Change_0</name>
            <extensionName>c:crmRecordChangeNotifier</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Thread.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>autoFlowFinish</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Thread_Journal_Screen</name>
        <label>Thread Journal Screen</label>
        <locationX>176</locationX>
        <locationY>614</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Journal_Entry</targetReference>
        </connector>
        <fields>
            <name>NAV_Case_Overview</name>
            <extensionName>c:crmPersonCaseOverview</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>actorId</name>
                <value>
                    <elementReference>Get_Thread.CRM_External_ActorId__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Journalfør</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Inputs</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Journal_Entry</name>
        <label>Create Journal Entry</label>
        <locationX>176</locationX>
        <locationY>734</locationY>
        <connector>
            <targetReference>Create_Thread_Journal_Event</targetReference>
        </connector>
        <flowName>CRM_Thread_Create_Journal_Entry</flowName>
        <inputAssignments>
            <name>Journal_Case_ID</name>
            <value>
                <elementReference>NAV_Case_Overview.selectedCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Journal_Case_Legacy_System</name>
            <value>
                <elementReference>NAV_Case_Overview.selectedCaseLegacySystem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Journal_Entry_NAV_Ident</name>
            <value>
                <elementReference>$User.CRM_NAV_Ident__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Journal_Entry_Unit</name>
            <value>
                <elementReference>$User.Department</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Journal_Theme_Code</name>
            <value>
                <elementReference>NAV_Case_Overview.selectedCaseTheme</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Get_Thread.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_Thread_Journal_Event</name>
        <label>Create Thread Journal Event</label>
        <locationX>176</locationX>
        <locationY>854</locationY>
        <connector>
            <targetReference>Journal_Success_Screen_0</targetReference>
        </connector>
        <flowName>CRM_Create_Thread_Event</flowName>
        <inputAssignments>
            <name>Event_Message</name>
            <value>
                <stringValue>Tråden ble journalført.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Event_Type</name>
            <value>
                <stringValue>JOURNAL</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Thread_ID</name>
            <value>
                <elementReference>Get_Thread.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <description>Case record id if passed as input</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>THREAD_API_REFERENCE</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Id of the thread to journal</description>
        <name>Thread_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
