force-app/main/default/flows/CRM_STO_Transfer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <description>Call apex to calculate the due date for the NAV task</description>
        <name>Get_Task_due_date</name>
        <label>Get Task due date</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <actionName>CRM_DueDateUtility</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Send_NAV_Task</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>taskList</name>
            <value>
                <elementReference>STO_NAV_TASK</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>STO_NAV_TASK.CRM_DueDate__c</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_NAV_Task_Values</name>
        <label>Assign NAV Task Values</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>STO_NAV_TASK.CRM_NavUnit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NAV_Unit_Allocator.selectedUnitId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>STO_NAV_TASK.NKS_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Task_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>STO_NAV_TASK.CRM_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>STO_NAV_TASK.CRM_NoPersonInformation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>STO_NAV_TASK.CRM_Priority__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NORM</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>STO_NAV_TASK.NKS_Henvendelse_BehandlingsId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Thread_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>STO_NAV_TASK.NKS_Theme__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NAV_Task_Categorization.theme</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>STO_NAV_TASK.NKS_Theme_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NAV_Task_Categorization.themeGroup</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>STO_NAV_TASK.NKS_Subtheme__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NAV_Task_Categorization.subtheme</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>STO_NAV_TASK.NKS_TaskType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Task_Type_Selection.selectedTaskTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>STO_NAV_TASK.CRM_Subtype__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NAV_Task_Categorization.subtype</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Task_due_date</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Transfer_to_NAV_Unit</name>
        <choiceText>NAV-enhet</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NAV_UNIT_TRANSFER</stringValue>
        </value>
    </choices>
    <choices>
        <name>Transfer_to_Queue</name>
        <choiceText>Annen kø</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>QUEUE_TRANSFER</stringValue>
        </value>
    </choices>
    <decisions>
        <description>Check if the inquiry should be transferred to a Salesforce queue or to another NAV unit (via NAV Task)</description>
        <name>Transfer_Decision</name>
        <label>Transfer Decision</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Assign_NAV_Task_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Transfer to NAV Unit</defaultConnectorLabel>
        <rules>
            <name>Queue_Transfer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Transfer_to</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Transfer_to_Queue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Case_to_Queue</targetReference>
            </connector>
            <label>Queue Transfer</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>STO_Categories</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>STO_Category__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>NAV_Unit_Transfer_Text</name>
        <dataType>String</dataType>
        <expression>&apos;Samtalen ble overført til &apos; + {!NAV_Unit_Allocator.selectedUnitName} + &apos; - &apos;</expression>
    </formulas>
    <formulas>
        <name>Queue_Transfer_Text</name>
        <dataType>String</dataType>
        <expression>&apos;Samtalen ble overført til &apos; + {!STO_Category_Picklist} + &apos; - &apos;</expression>
    </formulas>
    <interviewLabel>STO transfer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>STO transfer</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Query the case information</description>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Thread</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the STO Thread information</description>
        <name>Get_Thread</name>
        <label>Get Thread</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Transfer_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Thread_ID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Thread__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Assign_Case_to_Queue</name>
        <label>Assign Case to Queue</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Submit_Transfer_Event</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CRM_Run_Case_Assignment__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>STO_Category__c</field>
            <value>
                <elementReference>STO_Category_Picklist</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Close_Case</name>
        <label>Close Case</label>
        <locationX>314</locationX>
        <locationY>1118</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <description>Screen including transfer options.</description>
        <name>Transfer_Screen</name>
        <label>Transfer Screen</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Transfer_Decision</targetReference>
        </connector>
        <fields>
            <name>Transfer_to</name>
            <choiceReferences>Transfer_to_Queue</choiceReferences>
            <choiceReferences>Transfer_to_NAV_Unit</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Transfer_to_Queue</defaultSelectedChoiceReference>
            <fieldText>Sett over til:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>STO_Category_Picklist</name>
            <choiceReferences>STO_Categories</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Case.STO_Category__c</elementReference>
            </defaultValue>
            <fieldText>Kø:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Transfer_to</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Transfer_to_Queue</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NAV_Task_Categorization</name>
            <extensionName>c:crmThemeCategorization</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>themeGroup</name>
                <value>
                    <elementReference>Get_Thread.CRM_Theme_Group__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Transfer_to</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Transfer_to_NAV_Unit</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Task_Type_Selection</name>
            <extensionName>c:crmTaskTypePicklist</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>showcomponent</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Transfer_to</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Transfer_to_NAV_Unit</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Task_Description</name>
            <fieldText>Oppgave</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Transfer_to</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Transfer_to_NAV_Unit</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NAV_Unit_Allocator</name>
            <extensionName>c:crmNavTaskWorkAllocation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>personId</name>
                <value>
                    <elementReference>Get_Case.Account.CRM_Person__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideDelegateToSelf</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disableConditionalRendering</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Transfer_to</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Transfer_to_NAV_Unit</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Send_NAV_Task</name>
        <label>Send NAV Task</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Submit_Transfer_Event_0</targetReference>
        </connector>
        <flowName>CRM_Send_NAV_Task_Auto</flowName>
        <inputAssignments>
            <name>Created_By_Unit_Number</name>
            <value>
                <elementReference>$User.Department</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NAV_Task</name>
            <value>
                <elementReference>STO_NAV_TASK</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <description>Add a transfer event message to the thread</description>
        <name>Submit_Transfer_Event</name>
        <label>Submit Transfer Event</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <flowName>CRM_Create_Thread_Event</flowName>
        <inputAssignments>
            <name>Event_Message</name>
            <value>
                <elementReference>Queue_Transfer_Text</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Thread_ID</name>
            <value>
                <elementReference>Get_Thread.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Add a transfer event message to the thread</description>
        <name>Submit_Transfer_Event_0</name>
        <label>Submit Transfer Event</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Close_Case</targetReference>
        </connector>
        <flowName>CRM_Create_Thread_Event</flowName>
        <inputAssignments>
            <name>Event_Message</name>
            <value>
                <elementReference>NAV_Unit_Transfer_Text</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Thread_ID</name>
            <value>
                <elementReference>Get_Thread.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Queue_IDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>STO queue names</description>
        <name>Queue_Names</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>NAV task to be generated when transferring STO to another NAV Unit</description>
        <name>STO_NAV_TASK</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NavTask__c</objectType>
    </variables>
    <variables>
        <name>STO_QUEUES</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>Thread_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
