force-app/main/default/flows/CRM_Schedule_Journal_Rerun_With_Suffix.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Initiate_journal_rerun</name>
        <label>Initiate journal rerun</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <actionName>nksJournalFeilregistrertQueueable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>externalReferenceSuffix</name>
            <value>
                <elementReference>Get_journal_rerun_custom_metadata.External_reference_suffix__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>scope</name>
            <value>
                <elementReference>Get_journal_rerun_custom_metadata.Scope_query__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Check_if_there_is_a_valid_journal_rerun_request</name>
        <label>Check if there is a valid journal rerun request</label>
        <locationX>182</locationX>
        <locationY>360</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_an_uncompleted_journal_rerun_request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_journal_rerun_custom_metadata</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initiate_journal_rerun</targetReference>
            </connector>
            <label>Has an uncompleted journal rerun request</label>
        </rules>
    </decisions>
    <description>Schedules the initiation of the Journal rerun batch. This is used because of an error with the getContentAsPdf() method, which doesn&apos;t work in production unless the batch was started from an async process, like a scheduled flow.</description>
    <interviewLabel>CRM_Schedule_Journal_rerun_with_suffix {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Schedule Journal Rerun With Suffix</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Gets a journal rerun request if there is one available</description>
        <name>Get_journal_rerun_custom_metadata</name>
        <label>Get journal rerun custom metadata</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_there_is_a_valid_journal_rerun_request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Run_date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Journal_rerun__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_journal_rerun_custom_metadata</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-11-06</startDate>
            <startTime>01:15:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
