force-app/main/default/flows/STO_Thread_AfterInsert_OnNewSTOThreadCreateTaskOrCase.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Is_Case_Routing</name>
        <label>Is Case Routing</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Create_STO_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>Is_Case_Routing_No</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Person.INT_Confidential__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>STRENGT_FORTROLIG</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Person.INT_Confidential__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>STRENGT_FORTROLIG_UTLAND</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_STO_NAV_Task</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>On a new STO thread create a new Case or Task based on Running User</description>
    <interviewLabel>Thread - After Insert - On new STO thread create Task or Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Thread - After Insert - On New STO Thread Create Task Or Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Contact</name>
        <label>Contact</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Person</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Person</name>
        <label>Person</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Case_Routing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Person__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_related_record_NAV_Task</name>
        <label>Set related record NAV Task</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <inputAssignments>
            <field>CRM_Related_Object__c</field>
            <value>
                <elementReference>Create_STO_NAV_Task.NavTaskId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Related_Record_STO_Case</name>
        <label>Set Related Record STO Case</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <inputAssignments>
            <field>CRM_Related_Object__c</field>
            <value>
                <elementReference>Create_STO_Case.Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_Thread_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>STO</stringValue>
            </value>
        </filters>
        <object>Thread__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Create_STO_Case</name>
        <label>Create STO Case</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Set_Related_Record_STO_Case</targetReference>
        </connector>
        <flowName>STO_Thread_Subflow_CreateSTOCase</flowName>
        <inputAssignments>
            <name>Thread</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Create_STO_NAV_Task</name>
        <label>Create STO NAV Task</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Set_related_record_NAV_Task</targetReference>
        </connector>
        <flowName>STO_Thread_Subflow_CreateNavTask</flowName>
        <inputAssignments>
            <name>accountId</name>
            <value>
                <elementReference>$Record.CRM_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>threadId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
