force-app/main/default/flows/STO_Thread_After_Close_Send_Survey.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <formulas>
        <description>Calculated thread close message.</description>
        <name>Thread_Close_Event_Message</name>
        <dataType>String</dataType>
        <expression>Samtalen ble avsluttet</expression>
    </formulas>
    <formulas>
        <description>Send message including survey link on closing Thread</description>
        <name>Thread_Close_Survey_Message</name>
        <dataType>String</dataType>
        <expression>&quot;Vi ønsker å forbedre oss. Hvis du har ett minutt til overs vil vi gjerne at du svarer på disse spørsmålene: https://forms.office.com/r/szyVW7AmCv&quot;
+BR()+BR()+
&quot;We wish to improve our service. If you can spare a minute, we would appreciate you answering a few questions: https://forms.office.com/r/qYKwRcCfWE&quot;</expression>
    </formulas>
    <interviewLabel>Thread {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Thread After Update - On Closed STO Thread Send Survey</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Thread_Close_Event</name>
        <label>Create Thread Close Event</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>Send_Message_With_Survey_Link</targetReference>
        </connector>
        <inputAssignments>
            <field>CRM_Message_Text__c</field>
            <value>
                <elementReference>Thread_Close_Event_Message</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Thread__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Type__c</field>
            <value>
                <stringValue>Event</stringValue>
            </value>
        </inputAssignments>
        <object>Message__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Send_Message_With_Survey_Link</name>
        <label>Send Message With Survey Link</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>CRM_Message_Text__c</field>
            <value>
                <elementReference>Thread_Close_Survey_Message</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Thread__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Type__c</field>
            <value>
                <stringValue>Message</stringValue>
            </value>
        </inputAssignments>
        <object>Message__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Thread_Close_Event</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_isActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CRM_Thread_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>STO</stringValue>
            </value>
        </filters>
        <object>Thread__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
