force-app/main/default/flows/STO_Thread_After_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <description>Thread has ben closed</description>
        <name>Thread_Closed_Check</name>
        <label>Thread Closed Check</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Open Thread</defaultConnectorLabel>
        <rules>
            <name>Thread_Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CRM_isActive__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Thread_Close_Event</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Thread Closed</label>
        </rules>
    </decisions>
    <formulas>
        <description>Calculated thread close message.</description>
        <name>Thread_Close_Event_Message</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$User.CRM_NAV_Ident__c}),
&apos;Samtalen ble avsluttet&apos;,
{!$User.NKS_GreetingName__c} + ({!$User.CRM_NAV_Ident__c})  + &apos;avsluttet samtalen&apos;
)</expression>
    </formulas>
    <interviewLabel>Thread After Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Thread After Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Thread_Close_Event</name>
        <label>Create Thread Close Event</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>CRM_Message_Text__c</field>
            <value>
                <elementReference>Thread_Close_Event_Message</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Thread__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Type__c</field>
            <value>
                <stringValue>Event</stringValue>
            </value>
        </inputAssignments>
        <object>Message__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Thread_Closed_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Thread__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
