force-app/main/default/flows/STO_Thread_Before_Insert_On_STO_Category_Map_Theme_Group.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <description>Update the theme group lookup for the thread when category is changed.</description>
        <name>Set_Theme_Group</name>
        <label>Set Theme Group</label>
        <locationX>176</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>$Record.CRM_Theme_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>THEME_GROUP_ID</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <interviewLabel>Thread - Before Insert - On STO Category Map Theme Group {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Thread - Before Insert - On STO Category Map Theme Group</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Query the STO Category custom metadata to get the correct theme group mapping</description>
        <name>Get_STO_Category_Mapping</name>
        <label>Get STO Category Mapping</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Theme_Group_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>STO_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.STO_Category__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>STO_Category__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Theme_Group_ID</name>
        <label>Get Theme Group ID</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Theme_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_Code_Set__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Temagrupper</stringValue>
            </value>
        </filters>
        <filters>
            <field>CRM_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_STO_Category_Mapping.STO_Theme_Group__c</elementReference>
            </value>
        </filters>
        <object>Common_Code__c</object>
        <outputAssignments>
            <assignToReference>THEME_GROUP_ID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_STO_Category_Mapping</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>STO_Category__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Thread__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>THEME_GROUP_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
