force-app/main/default/flows/STO_Thread_Screenflow_CompleteSTORedaction.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Close_tab</name>
        <label>Close tab</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <actionName>c:fcTabCloser</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <interviewLabel>Thread Screenflow Complete STO/STB Redaction {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Thread - Screenflow - Complete STO/STB Redaction</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Complete_redaction</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Complete_redaction</name>
        <label>Complete redaction</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <connector>
            <targetReference>Close_tab</targetReference>
        </connector>
        <flowName>Thread_Sub_Screenflow_Complete_Redaction</flowName>
        <inputAssignments>
            <name>discardAllMessages</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>messageRedactionText</name>
            <value>
                <elementReference>$Label.STO_RedactedMessageNotificationText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>threadId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>Redacted_Message_Notification_Text</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Label.CRMHenvendelse_RedactedMessageNotificationText}</text>
    </textTemplates>
    <variables>
        <name>newUserNotification</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>UserNotification__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
