force-app/main/default/flows/STO_After_Update_Check_if_BTO_Transfer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Check_prior_thread_type</name>
        <label>Check prior thread type</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Was_BTO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.CRM_Thread_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BTO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_reporting_data</targetReference>
            </connector>
            <label>Was BTO</label>
        </rules>
    </decisions>
    <description>Checks if the STO was transfered from an BTO queue</description>
    <environments>Default</environments>
    <interviewLabel>STO {!$Flow.CurrentDateTime}</interviewLabel>
    <label>STO - After Update - Check if BTO Transfer</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_reporting_data</name>
        <label>Create reporting data</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>BTO_Category__c</field>
            <value>
                <elementReference>$Record__Prior.STO_Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Category__c</field>
            <value>
                <stringValue>BTO Transfer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Date__c</field>
            <value>
                <elementReference>$System.OriginDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_NavUnit__c</field>
            <value>
                <elementReference>$User.Department</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Region__c</field>
            <value>
                <elementReference>$User.Region__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NKS_Related_Record__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>STO_Category__c</field>
            <value>
                <elementReference>$Record.STO_Category__c</elementReference>
            </value>
        </inputAssignments>
        <object>ReportingData__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_prior_thread_type</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_Thread_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>STO</stringValue>
            </value>
        </filters>
        <object>Thread__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Reportingdata</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ReportingData__c</objectType>
    </variables>
</Flow>
