force-app/main/default/flows/STO_Message_After_Insert_External_Message_and_STO_STB_True.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Remove_ID_and_Set_Status_for_Task_Create</name>
        <label>Remove ID and Set Status for Task Create</label>
        <locationX>803</locationX>
        <locationY>1008</locationY>
        <assignmentItems>
            <assignToReference>Related_NAV_Task.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Related_NAV_Task.NKS_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OPPRETTET</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Related_NAV_Task.NKS_Comments__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Related_NAV_Task.NKS_TaskType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Vurder_Svar_Task_Type_0.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_NAV_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_case_status_to_in_progress</name>
        <label>Set case status to in progress</label>
        <locationX>275</locationX>
        <locationY>768</locationY>
        <assignmentItems>
            <assignToReference>RelatedCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RelatedCase.CRM_Run_Case_Assignment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Related_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_Task_Fields</name>
        <label>Set New Task Fields</label>
        <locationX>1331</locationX>
        <locationY>1128</locationY>
        <assignmentItems>
            <assignToReference>Related_NAV_Task.NKS_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OPPRETTET</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Related_NAV_Task.NKS_Theme__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Thread.CRM_Theme__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Related_NAV_Task.NKS_Theme_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Thread.CRM_Theme_Group__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Related_NAV_Task.NKS_TaskType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Vurder_Svar_Task_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Related_NAV_Task.CRM_NoPersonInformation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Related_NAV_Task.NKS_Henvendelse_BehandlingsId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Thread.CRM_API_Reference__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Related_NAV_Task.CRM_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Thread.CRM_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Related_NAV_Task.CRM_Priority__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NORM</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Related_NAV_Task.CRM_NavUnit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_STB_NAV_Unit.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Related_NAV_Task.NKS_Comments__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Send_NAV_Task_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Case_exists</name>
        <label>Case exists</label>
        <locationX>605</locationX>
        <locationY>528</locationY>
        <defaultConnector>
            <targetReference>Get_Related_NAV_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Related to Case</defaultConnectorLabel>
        <rules>
            <name>Related_Case_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RelatedCase</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CRM_External_Message__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Case_Owner</targetReference>
            </connector>
            <label>Related Case exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Case_Owner</name>
        <label>Check Case Owner</label>
        <locationX>143</locationX>
        <locationY>648</locationY>
        <defaultConnector>
            <targetReference>Set_case_status_to_in_progress</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not in Queue</defaultConnectorLabel>
        <rules>
            <name>Owned_By_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RelatedCase.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00G</stringValue>
                </rightValue>
            </conditions>
            <label>Owned By Queue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_NAV_Task</name>
        <label>Check NAV Task</label>
        <locationX>1067</locationX>
        <locationY>768</locationY>
        <defaultConnector>
            <targetReference>Get_STB_NAV_Unit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No NAV Task</defaultConnectorLabel>
        <rules>
            <name>NAV_Task_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Related_NAV_Task</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Related_NAV_Task.NKS_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FERDIGSTILT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Vurder_Svar_Task_Type_0</targetReference>
            </connector>
            <label>NAV Task Completed</label>
        </rules>
        <rules>
            <name>Open_NAV_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Related_NAV_Task</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Related_NAV_Task.NKS_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>FERDIGSTILT</stringValue>
                </rightValue>
            </conditions>
            <label>Open NAV Task</label>
        </rules>
    </decisions>
    <interviewLabel>Message - After Insert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Message - After Insert - External Message and STO/STB True</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Application_Log</name>
        <label>Create Application Log</label>
        <locationX>539</locationX>
        <locationY>1008</locationY>
        <inputAssignments>
            <field>Application_Domain__c</field>
            <value>
                <stringValue>NKS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <stringValue>STO</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Level__c</field>
            <value>
                <stringValue>Critical</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Message__c</field>
            <value>
                <stringValue>Failed to reassign case to queue</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referrence_ID__c</field>
            <value>
                <elementReference>RelatedCase.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Class__c</field>
            <value>
                <stringValue>Message - After Insert - External Message and STO/STB True</stringValue>
            </value>
        </inputAssignments>
        <object>Application_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_case</name>
        <label>Get case</label>
        <locationX>605</locationX>
        <locationY>408</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Thread.CRM_Related_Object__c</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>RelatedCase</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Check if the thread is related to a NAV task as process object</description>
        <name>Get_Related_NAV_Task</name>
        <label>Get Related NAV Task</label>
        <locationX>1067</locationX>
        <locationY>648</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_NAV_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Thread.CRM_Related_Object__c</elementReference>
            </value>
        </filters>
        <object>NavTask__c</object>
        <outputReference>Related_NAV_Task</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CRM_Account__c</queriedFields>
        <queriedFields>NKS_Theme__c</queriedFields>
        <queriedFields>NKS_Theme_Group__c</queriedFields>
        <queriedFields>NKS_Subtheme__c</queriedFields>
        <queriedFields>CRM_Subtype__c</queriedFields>
        <queriedFields>CRM_NoPersonInformation__c</queriedFields>
        <queriedFields>CRM_Priority__c</queriedFields>
        <queriedFields>NKS_Henvendelse_BehandlingsId__c</queriedFields>
        <queriedFields>NKS_TaskType__c</queriedFields>
        <queriedFields>CRM_NavUnit__c</queriedFields>
        <queriedFields>NKS_Comments__c</queriedFields>
        <queriedFields>NKS_Status__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get the reference to the NAV unit who initiated the dialogue</description>
        <name>Get_STB_NAV_Unit</name>
        <label>Get STB NAV Unit</label>
        <locationX>1331</locationX>
        <locationY>888</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Vurder_Svar_Task_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>INT_UnitNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Thread.CRM_Created_By_NAV_Unit__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>NavUnit__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Thread</name>
        <label>Get Thread</label>
        <locationX>605</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CRM_Thread__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Thread__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Vurder_Svar_Task_Type</name>
        <label>Get Vurder Svar Task Type</label>
        <locationX>1331</locationX>
        <locationY>1008</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_New_Task_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_Code_Set__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Oppgavetyper</stringValue>
            </value>
        </filters>
        <filters>
            <field>CRM_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VUR_SVAR</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Common_Code__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Vurder_Svar_Task_Type_0</name>
        <label>Get Vurder Svar Task Type</label>
        <locationX>803</locationX>
        <locationY>888</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Remove_ID_and_Set_Status_for_Task_Create</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_Code_Set__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Oppgavetyper</stringValue>
            </value>
        </filters>
        <filters>
            <field>CRM_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>VUR_SVAR</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Common_Code__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Related_Case</name>
        <label>Update Related Case</label>
        <locationX>275</locationX>
        <locationY>888</locationY>
        <faultConnector>
            <targetReference>Create_Application_Log</targetReference>
        </faultConnector>
        <inputReference>RelatedCase</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>CRM_External_Message__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CRM_Thread_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>STO</stringValue>
            </value>
        </filters>
        <filters>
            <field>CRM_Thread_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>STB</stringValue>
            </value>
        </filters>
        <object>Message__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_Thread</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Send_NAV_Task</name>
        <label>Send NAV Task</label>
        <locationX>803</locationX>
        <locationY>1128</locationY>
        <flowName>CRM_Send_NAV_Task_Auto</flowName>
        <inputAssignments>
            <name>NAV_Task</name>
            <value>
                <elementReference>Related_NAV_Task</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Send_NAV_Task_0</name>
        <label>Send NAV Task</label>
        <locationX>1331</locationX>
        <locationY>1248</locationY>
        <flowName>CRM_Send_NAV_Task_Auto</flowName>
        <inputAssignments>
            <name>NAV_Task</name>
            <value>
                <elementReference>Related_NAV_Task</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>Related_NAV_Task</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NavTask__c</objectType>
    </variables>
    <variables>
        <name>RelatedCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
