force-app/main/default/flows/STO_Thread_Screenflow_DiscardAllSTOMessages.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <interviewLabel>Thread - Screenflow - Discard STO/STB Messages {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Thread - Screenflow - Discard all STO/STB Messages</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>CloseFlow</name>
        <label>CloseFlow</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>close</name>
            <extensionName>c:fcFlowCompleter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Complete_Redaction</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Complete_Redaction</name>
        <label>Complete Redaction</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <connector>
            <targetReference>CloseFlow</targetReference>
        </connector>
        <flowName>Thread_Sub_Screenflow_Complete_Redaction</flowName>
        <inputAssignments>
            <name>discardAllMessages</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>messageRedactionText</name>
            <value>
                <elementReference>$Label.STO_RedactedMessageNotificationText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>threadId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>Redacted_Message_Notification_Text</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Label.CRMHenvendelse_RedactedMessageNotificationText}</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
