force-app/main/default/flows/STO_Thread_Subflow_CreateSTOCase.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_Thread_Values_to_Case</name>
        <label>Assign Thread Values to Case</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Case.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Thread.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Thread.CRM_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>STO_Case_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.CRM_Run_Case_Assignment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <description>Create an STO Case from a thread</description>
    <interviewLabel>Thread - Subflow - Create STO Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Thread - Subflow - Create STO Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>STO_Case_Record_Type</name>
        <label>STO Case Record Type</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Thread_Values_to_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>STO_Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>STO_Case_Record_Type</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>Thread</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Thread__c</objectType>
    </variables>
</Flow>
