force-app/main/default/flows/STO_Transfer_to_NAV_Unit_Auto.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_NAV_Task_Values</name>
        <label>Assign NAV Task Values</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>STO_NAV_TASK.CRM_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>STO_NAV_TASK.CRM_NoPersonInformation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>STO_NAV_TASK.CRM_Priority__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>HOY</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>STO_NAV_TASK.NKS_Henvendelse_BehandlingsId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Thread.CRM_API_Reference__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>STO_NAV_TASK.NKS_Theme_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TASK_THEME_GROUP_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>STO_NAV_TASK.NKS_Theme__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TASK_THEME_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>STO_NAV_TASK.CRM_NavUnit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Transfer_Unit.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>STO_NAV_TASK.NKS_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TASK_COMMENTS</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>STO_NAV_TASK.NKS_TaskType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TASK_TASKTYPE_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_NAV_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Thread_Related_Object</name>
        <label>Set Thread Related Object</label>
        <locationX>176</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Get_Thread.CRM_Related_Object__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>STO_NAV_TASK.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Thread</targetReference>
        </connector>
    </assignments>
    <description>Autolaunched flow for transfer to NAV Unit</description>
    <formulas>
        <name>NAV_Unit_Transfer_Text</name>
        <dataType>String</dataType>
        <expression>{!Get_Transfer_Unit.Name}</expression>
    </formulas>
    <interviewLabel>STO Transfer to NAV Unit Auto {!$Flow.CurrentDateTime}</interviewLabel>
    <label>STO Transfer to NAV Unit Auto</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Query the case information</description>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Thread</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the STO Thread information</description>
        <name>Get_Thread</name>
        <label>Get Thread</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Transfer_Unit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Thread_ID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Thread__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Query the NAV Unit record that was chosen for transfer</description>
        <name>Get_Transfer_Unit</name>
        <label>Get Transfer Unit</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_NAV_Task_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>INT_UnitNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TRANSFER_TO_UNIT_NUMBER</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>NavUnit__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>INT_UnitNumber__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Close_Case</name>
        <label>Close Case</label>
        <locationX>176</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Set_Thread_Related_Object</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates thread so its related to the new NAV Task</description>
        <name>Update_Thread</name>
        <label>Update Thread</label>
        <locationX>176</locationX>
        <locationY>1118</locationY>
        <inputReference>Get_Thread</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Send_NAV_Task</name>
        <label>Send NAV Task</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Submit_Transfer_Event_0</targetReference>
        </connector>
        <flowName>CRM_Send_NAV_Task_Auto</flowName>
        <inputAssignments>
            <name>Created_By_Unit_Number</name>
            <value>
                <elementReference>$User.Department</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NAV_Task</name>
            <value>
                <elementReference>STO_NAV_TASK</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>STO_NAV_TASK</assignToReference>
            <name>NAV_Task</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Add a transfer event message to the thread</description>
        <name>Submit_Transfer_Event_0</name>
        <label>Submit Transfer Event</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Close_Case</targetReference>
        </connector>
        <flowName>CRM_Create_Thread_Event</flowName>
        <inputAssignments>
            <name>Event_Message</name>
            <value>
                <elementReference>NAV_Unit_Transfer_Text</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Event_Type</name>
            <value>
                <stringValue>UNIT_TRANSFER</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Thread_ID</name>
            <value>
                <elementReference>Get_Thread.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>NAV task to be generated when transferring STO to another NAV Unit</description>
        <name>STO_NAV_TASK</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NavTask__c</objectType>
    </variables>
    <variables>
        <name>TASK_COMMENTS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TASK_TASKTYPE_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TASK_THEME_GROUP_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TASK_THEME_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Thread_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TRANSFER_TO_UNIT_NUMBER</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
