force-app/main/default/flows/STO_Message_After_Insert_Message_From_NAV_Create_Follow_Up_Task.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Set_NAV_Task_Values</name>
        <label>Set NAV Task Values</label>
        <locationX>242</locationX>
        <locationY>888</locationY>
        <assignmentItems>
            <assignToReference>NAV_TASK_TO_CREATE.CRM_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Thread.CRM_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NAV_TASK_TO_CREATE.NKS_Theme__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Thread.CRM_Theme__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NAV_TASK_TO_CREATE.NKS_Theme_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Thread.CRM_Theme_Group__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NAV_TASK_TO_CREATE.NKS_Assignee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Thread.CRM_Assignee__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NAV_TASK_TO_CREATE.NKS_TaskType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Ikke_Svar_Task_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NAV_TASK_TO_CREATE.CRM_NavUnit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_NAV_Unit_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NAV_TASK_TO_CREATE.CRM_Priority__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>HOY</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NAV_TASK_TO_CREATE.CRM_NoPersonInformation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NAV_TASK_TO_CREATE.NKS_Henvendelse_BehandlingsId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Thread.CRM_API_Reference__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NAV_TASK_TO_CREATE.NKS_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Automatisk generert oppgave (Salesforce)</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_NAV_Task</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Verify if a follow up task should be sent or not. If there is new external messages in this thread no follow up task is needed.</description>
        <name>Follow_up_Task_Check</name>
        <label>Follow up Task Check</label>
        <locationX>374</locationX>
        <locationY>528</locationY>
        <defaultConnectorLabel>Do Nothing</defaultConnectorLabel>
        <rules>
            <name>Send_Follow_Up_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Get_Last_External_Message.CreatedDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Thread.CRM_isActive__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Ikke_Svar_Task_Type</targetReference>
            </connector>
            <label>Send Follow Up Task</label>
        </rules>
    </decisions>
    <description>Record triggered flow to determine if a message has not been responded after 4 days and should generate a task to the one &quot;owning&quot; the conversation.</description>
    <interviewLabel>Message - After Insert - Message From NAV - Create Follow Up Task {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Message - After Insert - Message From NAV - Create Follow Up Task</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Ikke_Svar_Task_Type</name>
        <label>Get Ikke Svar Task Type</label>
        <locationX>242</locationX>
        <locationY>648</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_NAV_Unit_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SVAR_IK_MOT</stringValue>
            </value>
        </filters>
        <filters>
            <field>CRM_Code_Set__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Oppgavetyper</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Common_Code__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Last_External_Message</name>
        <label>Get Last External Message</label>
        <locationX>374</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Thread</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_Thread__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CRM_Thread__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CRM_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Message</stringValue>
            </value>
        </filters>
        <filters>
            <field>CRM_External_Message__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Message__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the thread assigned NAV unit</description>
        <name>Get_NAV_Unit_Record</name>
        <label>Get NAV Unit Record</label>
        <locationX>242</locationX>
        <locationY>768</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_NAV_Task_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>INT_UnitNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Thread.CRM_Assignee_NAV_Unit__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>NavUnit__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Thread</name>
        <label>Get Thread</label>
        <locationX>374</locationX>
        <locationY>408</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Follow_up_Task_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CRM_Thread__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Thread__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CRM_Assignee__c</queriedFields>
        <queriedFields>CRM_Assignee_NAV_Unit__c</queriedFields>
        <queriedFields>CRM_Theme__c</queriedFields>
        <queriedFields>CRM_Theme_Group__c</queriedFields>
        <queriedFields>CRM_API_Reference__c</queriedFields>
        <queriedFields>CRM_Account__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>(1 OR 2) AND 3 AND 4 AND 5</filterLogic>
        <filters>
            <field>CRM_Thread_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>STO</stringValue>
            </value>
        </filters>
        <filters>
            <field>CRM_Thread_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>STB</stringValue>
            </value>
        </filters>
        <filters>
            <field>CRM_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Message</stringValue>
            </value>
        </filters>
        <filters>
            <field>CRM_External_Message__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CRM_From_User__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Message__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Schedule_Follow_Up_Task</name>
            <connector>
                <targetReference>Get_Last_External_Message</targetReference>
            </connector>
            <label>Schedule Follow Up Task</label>
            <maxBatchSize>40</maxBatchSize>
            <offsetNumber>4</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <subflows>
        <description>Performs the outbound callout to store the NAV task for conversation follow up.</description>
        <name>Send_NAV_Task</name>
        <label>Send NAV Task</label>
        <locationX>242</locationX>
        <locationY>1008</locationY>
        <flowName>CRM_Send_NAV_Task_Auto</flowName>
        <inputAssignments>
            <name>Created_By_Unit_Number</name>
            <value>
                <elementReference>Get_Thread.CRM_Assignee_NAV_Unit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NAV_Task</name>
            <value>
                <elementReference>NAV_TASK_TO_CREATE</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <description>NavTask__c record to create for conversation follow up.</description>
        <name>NAV_TASK_TO_CREATE</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NavTask__c</objectType>
    </variables>
</Flow>
