force-app/main/default/flows/STO_Message_After_Insert_Message_From_NAV_Create_Follow_Up_Task.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Verify if a follow up task should be sent or not. If there is new external
            messages in this thread no follow up task is needed.</description>
        <name>Follow_up_Task_Check</name>
        <label>Follow up Task Check</label>
        <locationX>374</locationX>
        <locationY>492</locationY>
        <defaultConnectorLabel>Do Nothing</defaultConnectorLabel>
        <rules>
            <name>Send_Follow_Up_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Last_Message.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Thread.CRM_isActive__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_STB_Oppgave</targetReference>
            </connector>
            <label>Send Follow Up Task</label>
        </rules>
    </decisions>
    <description>Record triggered flow to determine if a message has not been responded after 4 days
        and should generate a task to the one &quot;owning&quot; the conversation.</description>
    <environments>Default</environments>
    <interviewLabel>Message - After Insert - Message From NAV - Create Follow Up Task
        {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Message - After Insert - Message From NAV - Create Follow Up Task</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Last_Message</name>
        <label>Get Last Message</label>
        <locationX>374</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Thread</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_Thread__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CRM_Thread__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CRM_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Message</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Message__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Thread</name>
        <label>Get Thread</label>
        <locationX>374</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Follow_up_Task_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CRM_Thread__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Thread__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CRM_Assignee__c</queriedFields>
        <queriedFields>CRM_Assignee_NAV_Unit__c</queriedFields>
        <queriedFields>CRM_Theme__c</queriedFields>
        <queriedFields>CRM_Theme_Group__c</queriedFields>
        <queriedFields>CRM_API_Reference__c</queriedFields>
        <queriedFields>CRM_Account__c</queriedFields>
        <queriedFields>CRM_isActive__c</queriedFields>
        <queriedFields>CRM_Date_Time_Registered__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_Thread_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>STB</stringValue>
            </value>
        </filters>
        <filters>
            <field>CRM_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Message</stringValue>
            </value>
        </filters>
        <filters>
            <field>CRM_External_Message__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CRM_From_User__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Message__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Schedule_Follow_Up_Task</name>
            <connector>
                <targetReference>Get_Last_Message</targetReference>
            </connector>
            <label>Schedule Follow Up Task</label>
            <maxBatchSize>40</maxBatchSize>
            <offsetNumber>4</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_STB_Oppgave</name>
        <label>Create STB Oppgave</label>
        <locationX>242</locationX>
        <locationY>600</locationY>
        <flowName>Create_STB_Oppgave</flowName>
        <inputAssignments>
            <name>Oppgave_Type</name>
            <value>
                <stringValue>SVAR_IK_MOT</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Optional_Log_Category</name>
            <value>
                <stringValue>STB Oppgave</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Thread</name>
            <value>
                <elementReference>Get_Thread</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <description>NavTask__c record to create for conversation follow up.</description>
        <name>NAV_TASK_TO_CREATE</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NavTask__c</objectType>
    </variables>
</Flow>