force-app/main/default/flows/STO_Account_Create_New_Thread_Screenflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_Journal_Details</name>
        <label>Assign Journal Details</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>JOURNAL_ENTRY.CRM_Thread__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Thread</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JOURNAL_ENTRY.CRM_Created_By_Ident__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.CRM_NAV_Ident__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JOURNAL_ENTRY.CRM_Created_By_NAV_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Department</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JOURNAL_ENTRY.NAV_Case_Reference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PERSON_NAV_CASES.selectedCaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JOURNAL_ENTRY.CRM_NAV_Case_Legacy_System__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PERSON_NAV_CASES.selectedCaseLegacySystem</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JOURNAL_ENTRY.Theme__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PERSON_NAV_CASES.selectedCaseThemeSfId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JOURNAL_ENTRY.Journal_Entry_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JOURNAL_ENTRY.Subtheme__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PERSON_NAV_CASES.selectedSubthemeSfId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Journal_Entry</targetReference>
        </connector>
    </assignments>
    <choices>
        <description>Choice to set that response in thread should generate task assigned to the sender</description>
        <name>RESPONSE_TO_ME</name>
        <choiceText>Svar skal tildeles til meg</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SELF_ASSIGNED</stringValue>
        </value>
    </choices>
    <choices>
        <description>Choice to set that response in thread should generate task assigned to the senders NAV Unit</description>
        <name>RESPONSE_TO_UNIT</name>
        <choiceText>Svar sendes til enhetsbenken</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NAV_UNIT</stringValue>
        </value>
    </choices>
    <decisions>
        <description>Verify if a journal entry is to be created for the new Thread</description>
        <name>Journal_Check</name>
        <label>Journal Check</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <defaultConnectorLabel>No Journal Entry</defaultConnectorLabel>
        <rules>
            <name>Do_Journal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>JOURNAL_TOGGLE.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Journal_Details</targetReference>
            </connector>
            <label>Do Journal</label>
        </rules>
    </decisions>
    <description>Screenflow to allow initiating a new dialogue with an end user.</description>
    <formulas>
        <description>Formula to determine if the thread is to be created as active or closed</description>
        <name>THREAD_ACTIVE_FORMULA</name>
        <dataType>Boolean</dataType>
        <expression>{!INFOMESSAGE_TOGGLE.value} == false</expression>
    </formulas>
    <formulas>
        <description>Formula to set the thread assignee depending on the response choice</description>
        <name>THREAD_ASSIGNEE_FORMULA</name>
        <dataType>String</dataType>
        <expression>IF({!RESPONSE_OPTION} == {!RESPONSE_TO_ME},
{!$User.CRM_NAV_Ident__c}, null)</expression>
    </formulas>
    <interviewLabel>Account Create New Thread - Screenflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Create New Thread - Screenflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Inserts a new message record on the created thread</description>
        <name>Create_Message</name>
        <label>Create Message</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Journal_Check</targetReference>
        </connector>
        <inputAssignments>
            <field>CRM_From_User__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Message_Text__c</field>
            <value>
                <elementReference>MESSAGE_TEXT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Thread__c</field>
            <value>
                <elementReference>Create_Thread</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Type__c</field>
            <value>
                <stringValue>Message</stringValue>
            </value>
        </inputAssignments>
        <object>Message__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Inserts a new Thread record on the account.</description>
        <name>Create_Thread</name>
        <label>Create Thread</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Create_Message</targetReference>
        </connector>
        <inputAssignments>
            <field>CRM_Account__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Assignee_NAV_Unit__c</field>
            <value>
                <elementReference>$User.Department</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Assignee__c</field>
            <value>
                <elementReference>THREAD_ASSIGNEE_FORMULA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Thread_Type__c</field>
            <value>
                <stringValue>STB</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_isActive__c</field>
            <value>
                <elementReference>THREAD_ACTIVE_FORMULA</elementReference>
            </value>
        </inputAssignments>
        <object>Thread__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Query the person record related to the account</description>
        <name>Get_Person</name>
        <label>Get Person</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Dialogue_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CRM_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Person__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>INT_ActorId__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>New_Dialogue_Screen</name>
        <label>New Dialogue Screen</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Thread</targetReference>
        </connector>
        <fields>
            <name>New_Dialogue_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Dialogue_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>INFOMESSAGE_TOGGLE</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Infomelding?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Ja</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>Nei</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Dialogue_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>New_Dialogue_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Dialogue_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>JOURNAL_TOGGLE</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Journalfør?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Ja</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>Nei</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Dialogue_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>PERSON_NAV_CASES</name>
            <extensionName>c:crmPersonCaseOverview</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>paddingBottom</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actorId</name>
                <value>
                    <elementReference>Get_Person.INT_ActorId__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>JOURNAL_TOGGLE.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>RESPONSE_OPTION</name>
            <choiceReferences>RESPONSE_TO_UNIT</choiceReferences>
            <choiceReferences>RESPONSE_TO_ME</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>RESPONSE_TO_UNIT</defaultSelectedChoiceReference>
            <fieldText>Svar til:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>MESSAGE_TEXT</name>
            <fieldText>Meldingstekst</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Del med bruker</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Person</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Journal_Entry</name>
        <label>Create Journal Entry</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <flowName>CRM_Thread_Create_Journal_Entry</flowName>
        <inputAssignments>
            <name>Journal_Case_ID</name>
            <value>
                <elementReference>PERSON_NAV_CASES.selectedCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Journal_Case_Legacy_System</name>
            <value>
                <elementReference>PERSON_NAV_CASES.selectedCaseLegacySystem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Journal_Entry_NAV_Ident</name>
            <value>
                <elementReference>$User.CRM_NAV_Ident__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Journal_Entry_Unit</name>
            <value>
                <elementReference>$User.Department</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Journal_Theme_Code</name>
            <value>
                <elementReference>PERSON_NAV_CASES.selectedCaseTheme</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Create_Thread</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <description>Journal entry record to be passed for journal post</description>
        <name>JOURNAL_ENTRY</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Journal_Entry__c</objectType>
    </variables>
    <variables>
        <description>Account record ID</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
