force-app/main/default/flows/STO_Thread_CreateTaskOrCase.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_Nav_Task</name>
        <label>Post Nav Task</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <actionName>OppgaveManager</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Assignee_Nav_Unit_on_Thread</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>aktoerId</name>
            <value>
                <elementReference>Thread.CRM_Account__r.CRM_Person__r.INT_ActorId__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>eksternHenvendelseId</name>
            <value>
                <elementReference>Thread.CRM_API_Reference__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>methodType</name>
            <value>
                <stringValue>POST</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>oppgavetype</name>
            <value>
                <stringValue>SPM_OG_SVR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>prioritet</name>
            <value>
                <stringValue>NORM</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tema</name>
            <value>
                <stringValue>KNA</stringValue>
            </value>
        </inputParameters>
        <nameSegment>OppgaveManager</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Schedule_Rerun</name>
        <label>Schedule Rerun</label>
        <locationX>974</locationX>
        <locationY>566</locationY>
        <actionName>STO_RerunCreateTaskOrCaseOnFaultSchd</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_Scheduled</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>threads</name>
            <value>
                <elementReference>Thread.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>STO_RerunCreateTaskOrCaseOnFaultSchd</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Is_Case_Routing</name>
        <label>Is Case Routing</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Create_STO_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>Is_Case_Routing_No</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Thread.CRM_Account__r.CRM_Person__r.INT_Confidential__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>STRENGT_FORTROLIG</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Thread.CRM_Account__r.CRM_Person__r.INT_Confidential__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>STRENGT_FORTROLIG_UTLAND</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Post_Nav_Task</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Scheduled</name>
        <label>Is Scheduled</label>
        <locationX>974</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Scheduler_Error_Log</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SUCCESS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Schedule_Rerun</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SUCCESS</stringValue>
                </rightValue>
            </conditions>
            <label>SUCCESS</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>STO thread create Task or Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Thread - Subflow - Create STO create Task or Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Error_Log</name>
        <label>Create Error Log</label>
        <locationX>974</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Schedule_Rerun</targetReference>
        </connector>
        <inputAssignments>
            <field>Application_Domain__c</field>
            <value>
                <stringValue>NKS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <stringValue>STO</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Level__c</field>
            <value>
                <stringValue>Critical</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referrence_ID__c</field>
            <value>
                <elementReference>Thread.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referrence_Info__c</field>
            <value>
                <stringValue>Thread__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Class__c</field>
            <value>
                <stringValue>Thread - After Insert - On New STO Thread Create Task or Case</stringValue>
            </value>
        </inputAssignments>
        <object>Application_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create error log if scheduling was not succeeded.</description>
        <name>Scheduler_Error_Log</name>
        <label>Scheduler Error Log</label>
        <locationX>1106</locationX>
        <locationY>782</locationY>
        <inputAssignments>
            <field>Application_Domain__c</field>
            <value>
                <stringValue>NKS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <stringValue>STO</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Level__c</field>
            <value>
                <stringValue>Critical</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Log_Message__c</field>
            <value>
                <elementReference>Schedule_Rerun</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referrence_ID__c</field>
            <value>
                <elementReference>Thread.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Class__c</field>
            <value>
                <stringValue>Thread - After Insert - On New STO Thread Create Task or Case / Rerun</stringValue>
            </value>
        </inputAssignments>
        <object>Application_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Set_Assignee_Nav_Unit_on_Thread</name>
        <label>Set Assignee Nav Unit on Thread</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Error_Log</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Thread.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CRM_Assignee_NAV_Unit__c</field>
            <value>
                <elementReference>Post_Nav_Task.oppgave.tildeltEnhetsnr</elementReference>
            </value>
        </inputAssignments>
        <object>Thread__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Related_Record_STO_Case</name>
        <label>Set Related Record STO Case</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <faultConnector>
            <targetReference>Create_Error_Log</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Thread.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CRM_Case__c</field>
            <value>
                <elementReference>Create_STO_Case.Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRM_Related_Object__c</field>
            <value>
                <elementReference>Create_STO_Case.Case.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Thread__c</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Case_Routing</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_STO_Case</name>
        <label>Create STO Case</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Set_Related_Record_STO_Case</targetReference>
        </connector>
        <flowName>STO_Thread_Subflow_CreateSTOCase</flowName>
        <inputAssignments>
            <name>Thread</name>
            <value>
                <elementReference>Thread</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>Thread</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Thread__c</objectType>
    </variables>
</Flow>