force-app/main/default/flows/Thread_After_Update_On_Set_Active_To_False.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Application_Log</name>
        <label>Create Application Log</label>
        <locationX>578</locationX>
        <locationY>1163</locationY>
        <actionName>LoggerUtility</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__refRecord</typeName>
            <typeValue>Thread__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>category</name>
            <value>
                <stringValue>Thread - After Update - On Set Active To False</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>domain</name>
            <value>
                <stringValue>NKS</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logLevel</name>
            <value>
                <stringValue>CRITICAL</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>refRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>source</name>
            <value>
                <stringValue>Thread - After Update - On Set Active To False</stringValue>
            </value>
        </inputParameters>
        <nameSegment>LoggerUtility</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Case_Closed</name>
        <label>Set Case Closed</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Get_Case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Empty_Queue</name>
        <label>Set Empty Queue</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>Get_Case.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Case.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_empty_queue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Automatically close the case if still open</description>
        <name>Check_Case_Status</name>
        <label>Check Case Status</label>
        <locationX>512</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Case Closed</defaultConnectorLabel>
        <rules>
            <name>Case_Open</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_NAV_or_Community_user</targetReference>
            </connector>
            <label>Case Open</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_NAV_or_Community_user</name>
        <label>Check if NAV or Community user</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Get_empty_queue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Nav_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Case_Closed</targetReference>
            </connector>
            <label>Nav User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Related_Object_Null_Check</name>
        <label>Related Object Null Check</label>
        <locationX>809</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>No Relation</defaultConnectorLabel>
        <rules>
            <name>Has_Related_Object</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CRM_Related_Object__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case</targetReference>
            </connector>
            <label>Has Related Object</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Thread - After Update - On Set Active To False {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Thread - After Update - On Set Active To False</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>512</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Case_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CRM_Related_Object__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>IsClosed</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_empty_queue</name>
        <label>Get empty queue</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Empty_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed_STO_Cases</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>182</locationX>
        <locationY>1055</locationY>
        <faultConnector>
            <targetReference>Create_Application_Log</targetReference>
        </faultConnector>
        <inputReference>Get_Case</inputReference>
    </recordUpdates>
    <start>
        <locationX>683</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Related_Object_Null_Check</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>CRM_isActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CRM_Thread_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>STO</stringValue>
            </value>
        </filters>
        <filters>
            <field>CRM_Thread_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BTO</stringValue>
            </value>
        </filters>
        <object>Thread__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
